@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Style Script', cursive;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    background: #FEAC5E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    height: 600px;
}
.container h2{
    padding-bottom: 20px;
    color: white;
    font-size: 3rem;
}
.container p{
    width: 60%;
    padding-bottom: 200px;
    font-size: 20px;
    color: white;
}
.custom-shape-divider-bottom-1629209882 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1629209882 svg {
    position: relative;
    display: block;
    width: calc(135% + 1.3px);
    height: 294px;
}

.custom-shape-divider-bottom-1629209882 .shape-fill {
    fill: #FFFFFF;
}

section{
    width: 100%;
    height: 200px;
    margin-top: 20px;
}
.animate-area{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 400px;
    margin: 0 auto;
}
img{
    width: 400px;
}
.text{
    width: 50%;
    text-align: center;
    color: black;
}